/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary-color: #FF6565;
    --secondary-color: #333;
    --font-family: 'Source Sans Pro', Arial, sans-serif;
}

/* Global Styles */
body {
    font-family: var(--font-family);
    line-height: 1.6;
    color: var(--secondary-color);
}

/* Our Results Section */
.our-results {
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

.our-results .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.our-results h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.our-results p {
    font-size: 1.0rem;
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 40px;
    color: #f4f4f4;
}

/* Results Grid */
.results-grid {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap; /* Allows items to wrap if there's not enough space */
}

.result-item {
    flex: 0 1 200px; /* Allows items to be flexible but with a minimum width */
    display: flex;
    justify-content: center; /* Center align pentagons horizontally */
    align-items: center; /* Center align pentagons vertically */
    text-align: center;
}

.polygon {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #FF6565;
    clip-path: polygon(50% 0%, 100% 38%, 81% 100%, 19% 100%, 0% 38%);
    color: var(--primary-color);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.polygon h3 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #fff;
}

.polygon p {
    font-size: 1rem;
    color: #fff;
    line-height: 1.0;
}

.polygon:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media (max-width: 768px) {
    .results-grid {
        flex-direction: column;
        align-items: center;
    }

    .result-item {
        margin-bottom: 20px;
    }

    .polygon {
        width: 120px;
        height: 120px;
    }
}