/* Reset CSS */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  /* Contact Section */
  .contact-section {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
  }
  
  .contact-section h1 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }
  
  .contact-form {
    max-width: 500px;
    margin: 20px auto;
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FF6565;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f13d3d;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .contact-section h1 {
      font-size: 1.5rem;
    }
  
    .contact-form {
      width: 100%;
    }
  }  